/**
 * Roboto Font - Versão Local (Offline)
 * 
 * Fonte sans-serif padrão do Google para uso offline.
 * Similar às fontes do sistema (ui-sans-serif, system-ui).
 */

/* Roboto Light - Peso 300 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

/* Roboto Regular - Peso 400 (padrão) */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

/* Roboto Medium - Peso 500 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
}

/* Roboto Bold - Peso 700 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Roboto-Bold.ttf') format('truetype');
}

